<!-- footer begins -->
<footer class="border-top text-center small text-muted py-3">
  <p class="m-0">Copyright &copy; <%= new Date().getFullYear() %> <a href="/" class="text-muted">OurApp</a>. All rights reserved.</p>
</footer>

  <% if (user) { %>
    <!-- chat feature begins -->
    <div id="chat-wrapper" class="chat-wrapper shadow border-top border-left border-right"></div>
    <!-- chat feature ends -->
    <script src="/socket.io/socket.io.js"></script>
  <% } %>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/main-bundled.js"></script>
</body>
</html>
